<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" }}

  <div class="container">

    {{ partial "translations" . }}

    <div class="post">
      <h1>{{ .Title }}</h1>
      <p class="date">by {{ .Params.author }} on {{ dateFormat "2006-01-02" .Date }}</p>

      <p>{{ partial "translation-disclaimer" . }}</p>

      {{ .Content }}
    </div>
  </div> <!-- container -->

  {{ partial "footer.html" . }}



</body>
</html>
